{% spaceless %}
{% load i18n %}
<ol class="submission__answer__display__content">
    {% for part in answer.parts %}
        <li class="submission__answer__part">
            <article class="submission__answer__part__prompt">
                <h2 class="submission__answer__part__prompt__title">{% trans "The question for this section." %}</h2>
                <div class="submission__answer__part__prompt__value">
                    {{ part.prompt.description|linebreaks }}
                </div>
            </article>
            {% if track_changes %}<input id="track_changes_clear_button_{{ forloop.counter0 }}" type="button" value="Clear Changes" />{% endif %}
            <div class="submission__answer__part__text">
                <h2 class="submission__answer__part__text__title">{{ answer_text_label }}</h2>
                <div class="submission__answer__part__text__value" {% if track_changes %} id="track-changes-content_{{ forloop.counter0 }}" contenteditable="true" {% endif %}>
                    {{ part.text|linebreaks }}
                </div>
            </div>
        </li>
    {% endfor %}
</ol>
{% endspaceless %}
